*.cache
*.exe
*.pdb
UnityEdu/obj/x86/Debug/UnityEdu.csproj.FileListAbsolute.txt
UnityEdu/obj/x86/Debug/UnityEdu.Form1.resources
UnityEdu/obj/x86/Release/UnityEdu.csproj.FileListAbsolute.txt
UnityEdu/Properties/AssemblyInfo.cs
UnityEdu/obj/x86/Debug/UnityEdu.Properties.Resources.resources
UnityEdu/obj/x86/Release/UnityEdu.Form1.resources
UnityEdu/bin/Debug/UnityEdu.vshost.exe.manifest